<a href="https://colab.research.google.com/github/ykworx/tls/blob/master/python/GeoPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from geopy.geocoders import Nominatim

In [4]:
nom=Nominatim()

/usr/local/lib/python3.6/dist-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

In [5]:
nom=Nominatim()

/usr/local/lib/python3.6/dist-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

In [0]:
n = nom.geocode("3995 23rd St, San Francisco, CA 94114")

In [25]:
import pandas as pd
df=pd.read_json("http://pythonhow.com/supermarkets.json")
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [26]:
df["Address"]=df["Address"]+ ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]
df

,Address,City,Country,Employees,ID,Name,State
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114

### PANDAS apply

In [48]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df.Coordinates

0    (3666, 21st Street, Noe Valley, SF, California...
1    (735, Dolores Street, Liberty Street Historic ...
2    (332, Hill Street, Noe Valley, SF, California,...
3    (3995, 23rd Street, Noe Valley, SF, California...
4    (1056, Sanchez Street, Noe Valley, SF, Califor...
5    (551, Alvarado Street, Noe Valley, SF, Califor...
Name: Coordinates, dtype: object

In [51]:
df.Coordinates[0].latitude

37.756488877551

In [56]:
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x != None else None)
df

,Address,City,Country,Employees,ID,Name,State,Coordinates,Latitude,Longitude
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...",37.757726,-122.425529
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220