<a href="https://colab.research.google.com/github/ykworx/tls/blob/master/python/pandas_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df=pd.read_json("http://pythonhow.com/supermarkets.json")
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [0]:
df=df.set_index("Address")
df

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [0]:
df.loc["735 Dolores St":"332 Hill St", "Country":"ID"]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3

In [0]:
df.loc["735 Dolores St", "Country"]

'USA'

In [0]:
list(df.loc[:,"Country"])

['USA', 'USA', 'USA', 'USA', 'USA', 'USA']

In [0]:
df.iloc[3,1:4]

Country      USA
Employees     10
ID             4
Name: 3995 23rd St, dtype: object

In [0]:
# Drop
df.ix[3,4] # ix is deprecated

/home/woody/.pyenv/versions/3.6.7/envs/woody/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

"Ben's Shop"

In [0]:
df.drop("332 Hill St")

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [0]:
df=df.drop("332 Hill St",0)

In [0]:
df

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [0]:
# Drop Row
df.drop(df.index[0:3],0)

                          City Country  Employees  ID        Name       State
Address
1056 Sanchez St  San Francisco     USA         12   5     Sanchez  California
551 Alvarado St  San Francisco     USA         20   6  Richvalley    CA 94114

In [0]:
# Drop Column
df.drop(df.columns[0:3],1) # param 2: {0:index, 1:columns}
help(df.drop)

Help on method drop in module pandas.core.frame:

drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise') method of pandas.core.frame.DataFrame instance
    Drop specified labels from rows or columns.

    Remove rows or columns by specifying label names and corresponding
    axis, or by specifying directly index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level.

    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index, columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).

        .. versionadded:: 0.21.0
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If True, do operation inplace and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.

    Returns
    -------
    dropped : pandas.DataFrame

    Raises
    ------
    KeyError
        If none of the labels are found in the selected axis

    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing.
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns.
    Series.drop : Return Series with specified index labels removed.

    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3,4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11

    Drop columns

    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11

    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11

    Drop a row by index

    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11

    Drop columns and/or rows of MultiIndex DataFrame

    >>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3,0.2]])
    >>> df
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2

    >>> df.drop(index='cow', columns='small')
                    big
    lama    speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3

    >>> df.drop(index='length', level=1)
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

In [0]:
df.columns

Index(['City', 'Country', 'Employees', 'ID', 'Name', 'State'], dtype='object')